            
        body, h1, p {
            margin: 0;
            padding: 0;
        }
        h1{
            font-family: Arial, Helvetica, sans-serif;
        }
        p{
            font-family: Arial, Helvetica, sans-serif;
        }

        /* Set a background color for the body */
        body {
            
            background: linear-gradient(315deg, #5078f2 0%, #efe9f4 74%);
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        /* Style the header and navigation bar */
        header {
            background-color:#476579;
            
            
            text-align: left;
        }
        .back{
            background: linear-gradient(315deg, #5078f2 0%, #efe9f4 74%);
        }
        main{
            
            background-image: url("https://i.ibb.co/Lk051Xc/IMG-4102.jpg");
            background-repeat: no-repeat;
            background-position:top right; 
            background-size: 400px;
            
            
        }
        main h1,p{
            color: #000000;
        }

        .navbar {
            background-color: transparent;
            box-shadow: turquoise;
        }

        .navbar-brand img {
            width: 85px;
            margin-top: -10px;
        }

        .navbar-toggler-icon {
            background-color: #000000;
        }

        .nav-link {
            color: #000;
            margin-right: 20px;
            font-weight: bold;
        }

        .nav-link:hover {
            text-decoration: underline;
        }

        /* Style the hero section */
        #hero {
            
            text-align: center;
            color: #fff;
            padding: 100px 0;
        }

        #hero h1 {
            font-size: 48px;
            margin-bottom: 20px;
            text-align: justify;
        }

        #hero p {
            font-size: 20px;
            margin-bottom: 20px;
            text-align: justify;
            font-weight: bolder;
        }

        .btn-primary {
            background-color: #0070c9;
            color: #fff;
            border: none;
            font-size: 18px;
            border-radius: 30px;
            text-decoration: none;
            margin-top: 20px;
            text-align: left;
        }

        .btn-primary:hover {
            background-color: #0056a1;
        }

        /* Style the droid section */
        .droid {
            position: relative;
            display: inline-block;
            text-align: center;
        }

        .droid img {
            max-width: 100%;
            height: auto;
        }

        .droid-buttons {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .droid-buttons a {
            margin: 10px;
        }

        /* Style the droids section */
        .droids {
            text-align: center;
            background-color: #f4f4f4;
            padding: 50px 0;
        }

        .droids-text {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #000;
            font-size: 36px;
            font-weight: bold;
        }

        /* Style the footer */
        footer {
    
            color: #fff;
            text-align: center;
            padding: 10px 0;
        }
        .details {
            border: 1.5px solid grey;
            color: #212121;
            width: 100%;
            height: auto;
            box-shadow: 0px 0px 10px #212121;
        }
        .cart {
            background-color: #212121;
            color: white;
            margin-top: 10px;
            font-size: 12px;
            font-weight: 900;
            width: 100%;
            height: 39px;
            padding-top: 9px;
            box-shadow: 0px 5px 10px  #212121;
        }
        .third {
            background-color: #ffffff;
            color: rgb(0, 0, 0);
            margin-top: 10px;
            font-size: 12px;
            font-weight: 900;
            width: 100%;
            height: 39px;
            padding-top: 9px;
            box-shadow: 0px 5px 10px  #212121;
        }
        .card-text{
            text-align: center;
            font-size: 30px;
        }
        #HomeProducts h1{
            text-align: center;
        }
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }
    .about-us{
    height: 100vh;
    width: 100%;
    padding: 90px 0;
    background: #ddd;
    }
    .pic{
    height: auto;
    width:  302px;
    }
    .about{
    width: 1130px;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    }
    .text{
    width: 540px;
    }
    .text h2{
    font-size: 60px;
    font-weight: 100;
    margin-bottom: 10px;

    }
    .text h5{
    font-size: 22px;
    font-weight: 100;
    margin-bottom: 20px;
    }
    span{
    color: #4070f4;
    }
    .text p{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
    }
    .data{
    margin-top: 30px;
    }
    .hire{
    font-size: 18px;
    background: #4070f4;
    color: #fff;
    text-decoration: none;
    border: none;
    padding: 8px 25px;
    border-radius: 6px;
    transition: 0.5s;
    }
    .hire:hover{
    background: #000;
    border: 1px solid #4070f4;
    }
    body{
    font-family: 'Work Sans', sans-serif;
}
.faq-heading{
    border-bottom: #777;
    padding: 20px 60px;
}
.faq-container{
display: flex;
justify-content: center;
flex-direction: column;

}
.hr-line{
  width: 60%;
  margin: auto;
  
}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
    /* background-color: #eee; */
    color: #444;
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;

}
.faq-body{
    margin: auto;
    /* text-align: center; */
   width: 50%; 
   padding: auto;
   
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
    background-color: #F9F9F9;
}

/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    padding: 0 18px;
    background:linear-gradient(315deg, #d6dbeb 0%, rgb(180, 218, 235) 74%);
    display: none;
    overflow: hidden;
}

.faq-page:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #7e2d2d;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}
  